.form{
    align-items: center;
    justify-content: ;
    padding-top: 50px;
    height: 700px;
    background-color:#21325e;
}
.item{
    width: 300px;
    padding: 0px;
    align-items: center;
    background-color: rgb(224, 227, 234);
    padding-bottom: 30px;
    border-radius: 10px;
    
}
.button{
    border: radius 300px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.me{
    text-decoration: aliceblue;
}