

body{
    height: 100%;
}


.about{
    display: grid;
    padding: auto;
}

.skills{
    display: block;
    
    
}


.name{
    font-size: 50px;
    font-family:'Dancing Script', cursive;
    font-weight: bold;

}

